{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb",
        "plugin:flowtype/recommended",
        "plugin:jest/recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "flowtype",
        "import",
        "jest",
        "json",
        "jsx-a11y",
        "prettier",
        "react"
    ],
    "rules": {
        "prettier/prettier": "error",
        "semi": [2, "never"],
        "quotes": [2, "single", { "avoidEscape": true }],
        "no-unused-expressions": ["error", {"allowTaggedTemplates": true}],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]}]
    }
}